*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.862);
}

header{
    display: flex;
    width: 100%;
    height: 6rem;
    background: #c607d7;
    color: #ebfffc;
    align-items: center;
    justify-content: center;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

header img{
    width: 7rem;
    height:7rem;
}



.card{
    width: 90%;
    margin:auto;
    max-width: 470px;
    background: linear-gradient(135deg,#c607d7,#0e0455);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height:50px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top:30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px; 
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity,.wind{
    font-size: 28px;
    margin-bottom: 2px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

footer{
    display: flex;
    color: #ebfffc;
    background: #c607d7;
    height: 3rem;
    bottom: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-family:sans-serif;
    font-weight: bold;
}

/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/


/* Responsive css */

@media only screen and (max-width: 320px) {


   header{
    font-size: 1.5rem;
    width: 22rem;
   }
   header img{
    width: 4rem;
    height: 4rem;
   }

   .card{
    width: 18rem;
    /* margin-left: 0.9rem; */
   /*  height: 39rem; */
    margin-bottom: 1rem;
   }
   
   .weather-icon{
    width: 5rem;
    height: 5rem;
   }

   .weather h1{
    font-size: 20px;
   }
   .weather h2{
    font-size: 30px;
   }

    .humidity,.wind{
        font-size: 15px;
       margin-right: 1.5rem;
    }

    #unique{
        margin-left: -2rem;
        margin-right: 3rem;
    }

    .col img{
        width: 2rem;
        height: 2rem;
    }

   .search input{
    width: 11rem;
    height: 4rem;
   }

   .search button{
    width: 2rem;
    height: 2rem;
   }

   .search button img{
      width: 10px;
   }

   footer{
    width: 22rem;
    margin-top: 1rem;
   }
}
  
